@use "../../styles";

:host {
    height: 100%;
    width: styles.$header-size;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid styles.$secondary-gray;

    a {
        display: inline-block;
        margin: 0 auto;
        padding: 1vh 0;
        font-weight: bold;
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: styles.$secondary-green;

        &.in-view {
            color: styles.$primary-white;
        }

        @include styles.hover-active {
            color: styles.$primary-red;
            svg {
                color: styles.$primary-red;
            }
        }

    }

    svg {
        width: (64px - (8px * 2));
        height:  64px;
        color: styles.$secondary-green;
    }

    .in-view svg {
        color: styles.$primary-white;
    }
}
