@use "../../styles";

.hide {
    display: none !important;
}

:host {

    * {
        box-sizing: border-box;
    }

    position: relative;
    box-sizing: border-box;
    white-space: normal;
    text-align: center;
    display: block;

    width: styles.$blockchain-block-width;
    height: styles.$blockchain-block-height;
    margin: 0 auto;

    scroll-snap-align: start;

    font-size: 2rem;

    h1 {
        font-size: 2.5rem;
    }

    .content-wrapper {
        height: 100%;
        width: 100%;
        background-color: styles.$primary-gray-dark;

        border: 2px solid styles.$secondary-green;
        border-radius: 0.5rem;
    }
}

@include styles.break-medium-less
{
    $box-margin: 8px;
    $header-margin-total: 8px;

    :host {
        width: calc(100% - ($box-margin * 2 + styles.$header-size-small + $header-margin-total));
        margin: 0 ($box-margin) 0 ($box-margin + styles.$header-size-small + $header-margin-total);
    }
}
