@use "../../styles";

.hide {
    display: none !important;
}

:host {

    * {
        box-sizing: border-box;
    }

    position: relative;
    box-sizing: border-box;
    white-space: normal;
    text-align: center;
    display: block;

    width: styles.$blockchain-block-width;
    height: styles.$blockchain-block-height;
    margin: ((100vh - styles.$blockchain-block-height) * 0.5) auto;

    scroll-snap-align: start;

    font-size: 2rem;

    h1 {
        font-size: 2.5rem;
    }

    .content-wrapper {
        height: 100%;
        width: 100%;
        background-color: styles.$primary-gray-dark;

        border: 2px solid styles.$secondary-green;
        border-radius: 0.5rem;
    }

    &:first-of-type {
        margin-top: 10vh;
    }

    &:last-of-type {
        margin-bottom: 10vh;
    }

}
