/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

@use "../styles/palette" as palette;

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Consolas", "Lucida Console", "Courier", monospace;
    color: palette.$primary-white;
    background-color: palette.$primary-black;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    margin-block: 0;
    padding: 0;
    margin: 0;
}