@use "../../styles";

:host
{
    box-sizing: border-box;

    header {
        background-color: styles.$primary-black;
        position: fixed;
        left: 0;
        margin: 0 1.5vw;
        width: styles.$header-size;
        height: 100%;
        box-sizing: border-box;
        z-index: 1000;

        .title {
            margin: 0;
            padding: 0;
        }
    }

    main {
        box-sizing: border-box;
    }
}
