@use "../../styles";

:host
{
    box-sizing: border-box;

    header {
        background-color: styles.$primary-black;
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        height: styles.$header-size;

        .title {
            margin: 0;
            padding: 0;
        }
    }

    main {
        box-sizing: border-box;
    }
}
