
/* SCSS HEX */
$primary-black: #181818ff;
$primary-gray: #999999ff;
$primary-red: #d50b0bff;
$primary-white: #f5f5f5ff;
$primary-green: #12ac31ff;

$secondary-gray: rgb(97, 97, 97);
$secondary-green: rgb(74,246,38);


