
/* SCSS HEX */
$primary-black: #181818;
$primary-gray-dark: #333333;
$primary-gray: #999999;
$primary-red: rgb(246, 27, 21);
$primary-white: #f5f5f5;
$primary-green: #12ac31;

$secondary-gray: rgb(97, 97, 97);
$secondary-green: #4af626;


