@use "../../styles";


@include styles.common-content;


:host
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h1 {
        font-size: 3rem;
        font-size: clamp(1rem, 2.25 * (1vw + 1vh), 5rem);
    }

    .alias {
        width: 100%;
        font-size: 1.5rem;
        font-size: clamp(0.8rem, 1.25 * (1vw + 1vh), 1.75rem);
        text-align: right;
    }

    .iama {
        font-size: 2.25rem;
        font-size: clamp(1rem, 1.5 * (1vw + 1vh), 3rem);
        margin: 0 auto;

        ul {
            text-align: left;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0;

            li {
                margin: 1rem 0;

                &::before {
                    text-align: center;
                    display: inline-block;
                    width: 50px;
                    margin: 0 1rem;
                }
            }

            li.computer::before { content: "💻"; }
            li.chain::before { content: "⛓️"; }
            li.fist::before { content: "✊"; }
            li.tree::before { content: "🌲"; }
        }
    }
}

@include styles.break-medium-less
{
    :host {
        .iama {
            ul {
                flex-direction: row;
                flex-wrap: wrap;
                text-align: center;
                align-items: center;
                justify-content: center;
                li {
                    flex-basis: 50%;
                    &::before {
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
