@use "../../styles";

@include styles.common-content;

:host
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p {
        font-size: 1rem;
        font-size: clamp(0.6rem, 1 * (1vw + 1vh), 2rem);
        margin: 0.5vh 0.5vw;
        text-align: left;
    }
}
