@use "../../styles";

@include styles.common-content;
@include styles.common-links;

:host
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    box-sizing: border-box;

    > div {
        padding: 1vh 0;
    }

    .desc {
        font-size: 1.5rem;
        font-size: clamp(0.9rem, 1.1 * (1vw + 1vh), 2rem);
    }

    .asset-lists {
        > div {
            padding: 1vh 0;
        }
    }

    .title {
        width: 100%;
        margin: 0.5vh 0.5vw;
        font-size: 2rem;
        font-size: clamp(0.75rem, 1.2 * (1vw + 1vh), 2rem);
    }

    .address-details {
        background-color: styles.$primary-black;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 4vh 4vw;
        border-radius: 0.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .title {
            width: auto;
        }

        .address {
            word-break: break-all;
            font-size: 2rem;
            font-size: clamp(1rem, 1.25 * (1vw + 1vh), 2rem);
        }

        .close {
            position: absolute;
            top: 12px;
            right: 12px;
            width: 32px;
            height: 32px;

            svg {
                width: 100%;
            }

            color: styles.$primary-red;
            @include styles.hover-active
            {
                color: styles.$primary-white;
            }
        }
    }

    .l2-list, .currency-list {
        font-size: 1rem;
        font-size: clamp(0.7rem, 0.8 * (1vw + 1vh), 1.5rem);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    .icon-badge {
        padding: 1vh 0.5vw;
        margin: 0.5vh 0.5vw;
        color: styles.$secondary-green;
        border: 2px solid styles.$secondary-green;
        border-radius: 8px;
        background-color: styles.$primary-black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-badge:not(.l2)
    {
        cursor: pointer;

        @include styles.hover-active
        {
            color: styles.$primary-red;
            border-color: styles.$primary-red;
        }
    }


    .icon {
        width: 2vw;
        margin: 0 auto;

        img {
            width: 100%;
        }

        &.ticker {
            width: 10vw;
        }
    }



    .copy-button {
        background-color: rgba(0,0,0,0);
        border: 0;
        margin: 0px 0.5rem;
        svg {
            color: styles.$secondary-green;
            width: 24px;

            @include styles.hover-active
            {
                color: styles.$primary-red;
            }
        }
    }

    .display {
        padding: 0.5vh 0.5vw;
    }

    .currency-list .icon {
        display: inline-block;
    }

    .hide {
        display: none;
    }

}

@include styles.break-medium-less {
    :host {
        .icon {
            width: 3vw;
        }

        .title {
            padding: 1vh 1vw;
            width: auto;
        }
    }
}
