@use "../../styles";

$baseDuration: 5.5s;

@function animationDelay($incrementDelay) {
    @return ($baseDuration * -1 * $incrementDelay);
};

@function fadeDuration($incrementPercent) {
    @return $baseDuration + ($incrementPercent * $baseDuration)
};

:host {
    display: inline;
    font-weight: bold;
    color: styles.$secondary-green;
}

:host(.animate)
{
    animation-name: fadeInBlink;
    //animation-delay: 0;
    animation-duration: fadeDuration(0);
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

:host([delay="0"]) { animation-delay: animationDelay(0.1); animation-duration: fadeDuration(0); }
:host([delay="1"]) { animation-delay: animationDelay(0.2); animation-duration: fadeDuration(0.1); }
:host([delay="2"]) { animation-delay: animationDelay(0.3); animation-duration: fadeDuration(0.2); }
:host([delay="3"]) { animation-delay: animationDelay(0.4); animation-duration: fadeDuration(0.2); }
:host([delay="4"]) { animation-delay: animationDelay(0.5); animation-duration: fadeDuration(0.3); }
:host([delay="5"]) { animation-delay: animationDelay(0.6); animation-duration: fadeDuration(0.3); }
:host([delay="6"]) { animation-delay: animationDelay(0.7); animation-duration: fadeDuration(0.2); }
:host([delay="7"]) { animation-delay: animationDelay(0.8); animation-duration: fadeDuration(0.2); }
:host([delay="8"]) { animation-delay: animationDelay(0.9); animation-duration: fadeDuration(0.1); }
:host([delay="9"]) { animation-delay: animationDelay(1.0); animation-duration: fadeDuration(0); }

@keyframes fadeInBlink {
    0% { opacity: 0; }
    20%, 40% { opacity: 1; }
    50% { opacity: 0; }
    60%, 80% { opacity: 1; }
    100% { opacity: 0; }
}
