@use "../../styles";
@use "sass:list";

$scene-width: (styles.$blockchain-block-width * 1);
$scene-height: (styles.$blockchain-block-height * 1);
$scene-depth: (styles.$blockchain-block-height * 1);

$box-width: $scene-width;
$box-height: $scene-height;
$box-depth: $scene-depth;

$bg-opacity: 0.7;

@mixin front-back {
    width: $box-width;
    height: $box-height;
}

@mixin left-right {
    width: $box-depth;
    height: $box-height;
    left: calc((calc($box-width + 0px) - calc($box-depth + 0px)) * 0.5);
}

@mixin top-bottom {
    width: $box-width;
    height: $box-depth;
}

.hide {
    display: none;
}

:host {
    display: block;
    position: absolute;
    box-sizing: border-box;

    user-select: none;
    cursor: default;
    width: $scene-width;
    height: $scene-height;
    //border: 1px solid #ccc;
    //margin: 80px;
    perspective: calc(calc($scene-width + 0px) + calc($scene-height + 0px));

    * {
        box-sizing: border-box;
    }

    .cube {
        display: none;
        width: $box-width;
        height: $box-height;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1s;
        transform: translateZ(($box-depth) * -2);
        z-index: -100;
    }

    .face {
        position: absolute;
        border: 2px solid styles.$secondary-green;
        background: rgb(0,0,0, 1);
        font-size: 40px;
        font-weight: bold;
        overflow-wrap: break-word;
        color: white;
        text-align: center;

        display: grid;
        grid-template-columns: repeat(var(--bit-width, 8), 1fr);
        grid-template-rows: repeat(var(--bit-height, 4), 1fr);
        justify-content: center;
        align-items: center;
    }

    .content-cover {
        position: absolute;
        top: 0;
        z-index: 50;
        width: $box-width;
        height: $box-height;
        opacity: 0;
        background-color: rgba(styles.$secondary-green, 1);
    }

    .front {
        @include front-back;
        //background: hsla(0, 100%, 50%, $bg-opacity);
        transform: rotateY(0deg) translateZ(($box-depth * 0.5));
    }
    .back {
        @include front-back;
        //background: hsla(120, 100%, 50%, $bg-opacity);
        transform: rotateY(180deg) translateZ(($box-depth * 0.5));
    }
    .right {
        @include left-right;
        //background: hsla(60, 100%, 50%, $bg-opacity);
        transform: rotateY(90deg) /*rotateZ(180deg)*/ translateZ(($box-width * 0.5));
    }
    .left {
        @include left-right;
        //background: hsla(180, 100%, 50%, $bg-opacity);
        transform: rotateY(-90deg) /*rotateZ(180deg)*/  translateZ(($box-width * 0.5));
    }
    .top {
        @include top-bottom;
        //background: hsla(240, 100%, 50%, $bg-opacity);
        transform: rotateX(90deg) translateZ(($box-height * 0.5));
    }
    .bottom {
        @include top-bottom;
        //background: hsla(300, 100%, 50%, $bg-opacity);
        transform: rotateX(-90deg) translateZ(($box-height * 0.5));
    }
}

$standard-duration: 6s;

@mixin animation-common {
    animation-delay: 0s;
    animation-duration: $standard-duration;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
}

:host(.idle)
{
    .cube {
        display: block;
        animation-name: idleSpin;
        @include animation-common;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
}

:host(.animate)
{
    animation-name: lockIn;
    @include animation-common;

    .cube {
        display: block;
        animation-name: spinToPosition;
        @include animation-common;
        animation-fill-mode: forwards;
    }

    .content-cover {
        animation: contentCoverReveal;
        @include animation-common;
        animation-duration: $standard-duration + 2s;
    }
}

$x-inc: 90deg;
$y-inc: 90deg;

/*
@keyframes spinToPosition {
    0% {
        transform: translateX($out-of-frame-start) translateZ(-($box-depth)) rotateY($y-inc * 0) rotateX($x-inc * 0);
    }
    6% {
        transform: translateX(calc($out-of-frame-start - calc($to-frame-step * 1))) translateZ(-($box-depth)) rotateY($y-inc * 1) rotateX($x-inc * 1);
    }
    18% {
        transform: translateX(calc($out-of-frame-start - calc($to-frame-step * 2))) translateZ(-($box-depth)) rotateY($y-inc * 2) rotateX($x-inc * 2);
    }
    36% {
        transform: translateX(calc($out-of-frame-start - calc($to-frame-step * 3))) translateZ(-($box-depth)) rotateY($y-inc * 3) rotateX($x-inc * 3);
    }
    60%, 100% {
        transform: translateX(0) translateZ(-($box-depth)) rotateY($y-inc * 4) rotateX($x-inc * 4);
    }
}
*/

@keyframes idleSpin {
    0% {
        transform: translateZ($box-depth * -20) rotateY(0deg) rotateX(0deg);
    }
    50% {
        transform: translateZ($box-depth * -20) rotateY(180deg) rotateX(180deg);
    }
    100% {
        transform: translateZ($box-depth * -20) rotateY(360deg) rotateX(360deg);
    }
}

@keyframes spinToPosition {
    0% {
        transform: translateZ($box-depth * -20) rotateY($y-inc * 0) rotateX($x-inc * 0);
    }
    6% {
        transform: translateZ($box-depth * -10) rotateY($y-inc * 1) rotateX($x-inc * 1);
    }
    18% {
        transform: translateZ($box-depth * -6) rotateY($y-inc * 2) rotateX($x-inc * 2);
    }
    36% {
        transform: translateZ($box-depth * -3) rotateY($y-inc * 3) rotateX($x-inc * 3);
    }
    60%, 99% {
        transform: translateZ($box-depth * -1) rotateY($y-inc * 4) rotateX($x-inc * 4);
    }
    100% {
        transform: translateZ($box-depth * -1) rotateY($y-inc * 4) rotateX($x-inc * 4);
        visibility: hidden;
    }
}

@keyframes lockIn {
    0%, 60% {
        perspective: calc(calc($scene-width + 0px) + calc($scene-height + 0px));
    }
    70% {
        perspective: calc(calc(calc($scene-width + 0px) + calc($scene-height + 0px)) * 10);
    }
    79% {
        perspective: calc(calc(calc($scene-width + 0px) + calc($scene-height + 0px)) * 100);
    }
    80%, 100% {
        perspective: none;
    }
}

@keyframes contentCoverReveal {

    0%, 60% {
        opacity: 0;
    }
    75%, 85% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        //visibility: none;
    }
}
