@use "../palette";
@use "../breakpoints";

@mixin common-content
{
    :host
    {
        height: 100%;
        padding: 2rem;
        box-sizing: border-box;
        overflow-y: auto;

        h1 {
            font-size: 4rem;
        }

        .i {
            font-style: italic;
        }

        .highlight {
            color: palette.$primary-red;
            font-weight: bold;
        }

        .icon {
            margin: 0 auto;

            svg {
                width: 100%;
                max-width: 64px;
            }
        }
    }

    @media only screen and (max-width: breakpoints.$breakpoint-large)
    {
        :host {
            padding: 0.5rem;

            h1 {
                font-size: 2rem;
            }

            .icon {
                svg {
                    max-width: 64px * 0.5;
                }
            }
        }
    }
}


